
{% extends "login_registration/basepage.html" %}
{% block head %}

{% endblock %}

{% block body %}

<div class="col-sm-6 col-sm-offset-3">
    <h1>Form</h1>
    </hr>
    <form method="POST" action="'" enctype="'multipost/form-data">{% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-default" value="kausik"/>
    </form>

</div>


    </form>
{% endblock %}