{% extends "getbaseview/basepage.html" %}
    {% block head %}
            <p align="center">
                <a href="/home/getcharts/">Go back to search charts</a>
            </p>

                <!--<form class="navbar-form navbar-left" role="search" method="get" action="/home/getcharts/charts/">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" value = "type a skill name for courses" name="q" value="{{ request.GET.q }}">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Search</button>-->
            <!--</form>-->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">

            <!--google.charts.load("current", {packages:["bar"]});-->
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            var skill = "{{skill}}";

            function drawChart() {
                var array_ = {{ djangodict|safe }};


                var data = google.visualization.arrayToDataTable(array_);


                var options1 = {'title':'Salary Month Wise for skill   '+ skill,
                               'width':900,
                               'height':500};



                var options2 = {title: 'Average salaries month wise for the skill ' + skill,
                                bars: 'horizontal'};


                var title = 'Distribution in different months for  the skill '+skill

                var options3 = {title: title};




            var chart1 = new google.visualization.LineChart(document.getElementById('linechart_material'));
            chart1.draw(data, options1);

            var chart2 = new google.visualization.BarChart(document.getElementById('barchart_material'));
            chart2.draw(data, options2);

            var chart3 = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart3.draw(data, options3);




          }

    </script>
    {% endblock %}


    {% block body %}
       <div class="container">
             <div id="linechart_material" style="width: 900px; height: 500px;"></div>
             <div id="barchart_material" style="width: 900px; height: 500px;"></div>
             <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
        </div>
    {% endblock %}

