
{% extends "getbaseview/basepage.html" %}
{% block head %}
            <p align="center">
                <a href="/home/getcharts/">Go back to search charts</a>
            </p>

{% endblock %}

{% block body %}
     <h1> Data for skill {{skill}} not found in our database</h1>
        we have taken this into consideration very soon you will find



{% endblock %}


