
{% extends "getbaseview/basepage.html" %}
{% block head %}

{% endblock %}



{% block body %}
<div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive img-rounded" src="/static/getcharts/images/charts.png" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1>Graphs of Salaries of Skills</h1>
            <p>Visualize historical salary of skills in form of line and bar charts in India</p>
            <input type="button" class="btn btn-default" href="#" id="button1" value="Go for it"/>
            <blockquote>
                <form id="p1" style="display:none" class="navbar-form navbar-left" role="search" method="get" action="/home/getcharts/charts/">
                    <div class="form-group">
                        <input type="text" class="form-control" value = "Type a Skill name" name="q" value="{{ request.GET.q }}" onblur="if(this.value==''){ this.value='Type a Skill name'; this.style.color='#BBB';}"
                        onfocus="if(this.value=='Type a Skill name'){ this.value=''; this.style.color='#000';}" style="color:#BBB;" />
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </blockquote>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>

        $(document).ready(function(){
            $("#button1").click(function(){
                $("#p1").slideToggle();
            });
        });
    </script>
{% endblock %}
