
{% extends "getbaseview/basepage.html" %}
<div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class=""><a href=""><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Albums</a></li>
                <li class=""><a href=""><span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; Songs</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                 <li>
                    <a href="/login_registration/register">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Register
                    </a>
                </li>
                <li>
                    <a href="/login_registration/login">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Login
                    </a>
                </li>
                <li>
                    <a href="/login_registration/logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>