
{% extends "getbaseview/basepage.html" %}
{% block head %}

{% endblock %}

{% block body %}


<div class="header">
	<div class="container-centered">
		<div class="col-md-8 header-left">
			<div class="col-sm-5 pro-pic">
				<img class="img-responsive" src="/static/getbaseview/images/Optimized-kausik.jpg" alt=" "/>
                <a href="https://www.facebook.com/kausik.das.353" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://in.linkedin.com/in/kausik-das-939ab088" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://plus.google.com/116979445328797495313/posts?hl=en" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a>
                <a href="https://in.linkedin.com/in/kausik-das-939ab088" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
			</div>
			<div class="col-sm-5 pro-text">
				<h1>Kausik Das</h1>
				<p>Software Engineer</p>
                <li>Email: kausik15@outlook.com</li>
				<li>Phone No:8147850608</li>
				<li>Address:Bangalore,Karnataka,India </li>
			</div>
			<div class="clearfix">
            </div>
		</div>
    </div>
    <div id="about" class="about">
        <div class="container">
            <h3 class="tittle">About Me</h3>
                <p class="abt-para">Hi i am working in a start up firm in Bangalore,Karnataka,India.
                    I have done Masters in computer applications(MCA) from NATIONAL INSTTITUTE OF TECHNOLOGY,AGARTALA
                    (NIT,A).Basically i have experience in Data Crawling stuffs and beginners level NLP.
                    I love python programming language and want to explore to sturdy python web framework django.

                </p>
            </div>
        </div>
</div>




{% endblock %}