
{% extends "getbaseview/basepage.html" %}
{% block head %}

{% endblock %}

{% block body %}



<h1>Contact</h1>
<form role="form" action="/home/contact/thanks/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>










{% endblock %}
