
{% extends "getbaseview/basepage.html" %}
{% block head %}

{% endblock %}

{% block body %}


    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="/static/getbaseview/images/success.jpg" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Skillsforgrow</h1>
                <p>This is a website where users :</p>
                <input type="button" class="btn btn-default" href="#" id="button4" value="More Info"/>
                    <div id=p4 style="display:none">
                        <li>Find different courses from different online course portals</li>
                        <li>Find historical salary for a particular skill in form of graphs and charts</li>
                        <li>Find jobs from different job sites in India on basis of skills and location (coming soon)</li>
                        <li>Add or request to add courses from youtube or other sources (coming soon)</li>
                        <br>
                        <h1> IMPORTANT </h1>
                        <li>We are an open source platform ,This website is built  using opensource apis ,images, packages etc
                        <br>We are completely free of cost, we dont charge any money,nor we sell data.</li>
                  </div>


            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Thats where we begin!
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive img-rounded" src="/static/getbaseview/images/jobs.jpg" alt="">
		</br>
		<input type="button" class="btn btn-default" href="" id="button1" value="More Info"/>
                <p id=p1 style="display:none">Coming soon
                </br><a href = "#">Take me there</a></p>
            </div>

            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <img class="img-responsive img-rounded" src="/static/getbaseview/images/graphs.jpg" alt="">
		</br>

                <input type="button" class="btn btn-default"  id="button2" value="More Info" />
                <p id=p2 style="display:none"> Here we have historical data of salary in form of charts of different jobs
                </br><a href = "/home/getcharts/">Take me there</a></p>
            </div>
	                <!-- /.col-md-4 -->

	    <div class="col-md-4">
                <img class="img-responsive img-rounded" src="/static/getbaseview/images/online courses.png" alt="">
		</br>
		<input type="button" class="btn btn-default" href="#" id="button3" value="More Info"/>
            <blockquote>
                <p id=p3 style="display:none">Here we have aggregated courses from different online course portals
                </br><a href = "/home/getcourses/">Take me there</a></p>
            </blockquote>
            </div>

            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Footer -->
        </br>
   </div>

    <!-- /.container -->

    <!-- jQuery -->





<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $("#button2").click(function(){
                $("#p2").slideToggle();
            });
        $("#button1").click(function(){
            $("#p1").slideToggle();
             });

         $("#button3").click(function(){
            $("#p3").slideToggle();
             });
         $("#button4").click(function(){
            $("#p4").slideToggle();
             });
        });


    </script>
{% endblock %}

