
{% extends "getbaseview/basepage.html" %}
{% block head %}
            <form class="navbar-form navbar-centered" role="search" method="get" action="/home/getcourses/results/">
                <div class="form-group">
                    <input type="text" class="form-control" value = "type a skill name for courses" name="q" value="{{ request.GET.q }}" onblur="if(this.value==''){ this.value='type a skill name for courses'; this.style.color='#BBB';}"
                        onfocus="if(this.value=='type a skill name for courses'){ this.value=''; this.style.color='#000';}" style="color:#BBB;" />
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>

{% endblock %}
{% block body %}
    <div class="row">
            <h1 align="center"> Here are some of our courses</h1>
                <h5 align="center"> Please search on the search bar above</h5>

            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/static/getcourses/images/python.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/static/getcourses/images/java-oracle.png" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/static/getcourses/images/sap-sf.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/static/getcourses/images/bootstrap.jpg" alt="">
                </a>
            </div>
    </div>
    </br>
    <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/static/getcourses/images/project-management.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/static/getcourses/images/boot.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/static/getcourses/images/css-logo.png" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/static/getcourses/images/django.png" alt="">
                </a>
            </div>
    </div>
    </br>
{% endblock %}
</body>

</html>
