
{% extends "getbaseview/basepage.html" %}

{% block head %}
<p align="center">
                <a href="/home/getcourses/">Go back to search courses</a>
</p>

{% endblock %}

{% block body %}


{% for contact in contacts %}

<div align="center">

    <img src="{{ contact.courseimageurl|lower }}" />
    </br>
    </br>
    <h1>{{ contact.coursename|upper }}</h1>
    </br>
     {{ contact.coursedetails }}
    </br>
    <b>Go to course</b>
    <a href=" {{ contact.courseurl }}" /> Course Url</a>

    </br>
    </br>
    </br>
    </br>
</div>




{% endfor %}

<div class="text-center">
    <ul class="pagination">
        <span class="step-links">
            {% if contacts.has_previous %}
                <a href="?page={{ contacts.previous_page_number }}&q={{ request.GET.q }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
            </span>

            {% if contacts.has_next %}
                <a href="?page={{ contacts.next_page_number }}&q={{ request.GET.q }}">next</a>
            {% endif %}
        </span>
    </ul>
</div>


{% endblock %}