
{% extends "getbaseview/basepage.html" %}
{% block head %}

{% endblock %}

{% block body %}


    </br>
    </br>



    {% for key in body %}


        <div>


            <span class="title" title= itemprop="title">
                <label> <b>title :</b></label>
                 {{key.title}}
            </span> </br>

            <span class="salary_min" title= itemprop="title">
                <label> <b>salary_min :</b></label>
                  {{key.salary_min}}
            </span> </br>

            <span class="salary_is_predicted" title= itemprop="title">
                 <label> <b>salary_is_predicted :</b></label>
                    {{key.salary_is_predicted}}
            </span> </br>

            <span class="company" title= itemprop="title">
                <label> <b>company :</b></label>
                 {{key.company}}
            </span> </br>

            <span class="contract_time" title= itemprop="title">
                <label> <b>contract_time :</b></label>
                    {{key.contract_time}}
            </span> </br>

            <span class="salary_max" title= itemprop="title">
                 <label> <b>salary_max :</b></label>
                     {{key.salary_max}}
            </span> </br>

            <span class="description" title= itemprop="title">
                 <label> <b>description :</b></label>
                    {{key.description}}
            </span>
            </br>
              <span class="date_" title= itemprop="title">
                  <label> <b>posting date :</b></label>
                    {{key.date_}}
            </span>
            </br>
             <a class="content" target="_blank" href={{key.redirect_url}}>
                <span class="desig"  itemprop="title">
                    <label> <b>Page url :</b></label>
                        go to  the  job
                </span>
            </a>


        </div>
         </br>
        </br>
        </br>
        </br>
    {% endfor %}
    <div class="text-center">
    <ul class="pagination">
        <span class="step-links">

            <a href=/home/jobs/viewjobs/prev/{{prev}}>previous</a>

            <span class="current">

            </span>

                <a href=/home/jobs/viewjobs/next/{{next}}>next</a>

        </span>
    </ul>
</div>




{% endblock %}