<!DOCTYPE html>
<html lang="en">
    <head>


    </head>

    <body>

{% for contact in contacts %}


        <div id="260816901437" class="row " type="tuple" itemtype="http://schema.org/JobPosting" itemscope="">
            <a class="content" target="_blank" href="http://www.naukri.com/job-listings-Software-Engineer-Python-Startup-SnapShopr-Bengaluru-Bangalore-1-to-3-years-260816901437?src=jobsearchDesk&sid=14726235904389&xp=1&qp=python&srcPage=s" count="1">
                <span class="desig" title="Software Engineer- Python" itemprop="title">
                    Software Engineer-
                        <font class="hlite">Python</font>
                </span>
                <span class="org" itemprop="hiringOrganization">Startup - SnapShopr</span>
                <span class="exp" itemprop="experienceRequirements">
                    <em></em>
                     1-3 yrs
                </span>
                <span class="loc">
                <em></em>
                <span itemprop="jobLocation">Bengaluru</span>
                </span>
                <div class="more">
                    <span class="label">Keyskills:</span>
                    <div class="desc">
                        <span class="skill" itemprop="skills"></span>
                </div>
                <span class="label">Job Description:</span>
                <span class="desc" itemprop="description">You will be required to work with our engineering and research teams to strengthen and extend our ...</span>
                </div>
                </a>
                <span class="action menu" href="#"> </span>
                <span class="action jobType premium" title="">
                <em></em>
                </span>
                 <div class="other_details">
                     <span class="action savejob fav favReady" jid="260816901437" title=" Save this job "></span>
                         <span class="salary " itemprop="baseSalary"></span>
                <div class="rec_details">
                </div>
                 </div>
        </div>
    {% endfor %}
    </body>
</html>
